{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>
    <dl class="row">
        <dt class="col-sm-6">Id</dt>
        <dd class="col-sm-6">{{ commande.id }}</dd>
        <dt class="col-sm-6">Client</dt>
        <dd class="col-sm-6">{{ commande.client.nom }}</dd>
        <dt class="col-sm-6">Date de Commande</dt>
        <dd class="col-sm-6">{{ commande.dateCommmande }}</dd>
    </dl>

    {% if commande.ligneCommandes %}
        <h3>Liste des produit commandés :</h3>
        <ul class="list-group mb-3">
            {% for ligneCommande in commande.ligneCommandes %}
                <li class="list-group-item">{{ ligneCommande.produit.libelle }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3 class="mb-3">PAS COMMANDES</h3>
    {% endif %}

    <a href="{{ path('commande_index') }}"
       class="btn btn-light">Retour à la liste</a>

    <a href="{{ path('commande_edit', {'id': commande.id}) }}"
       class="btn btn-secondary">Editer</a>

    {{ include('client/_delete_form.html.twig', {'button_label': true}) }}
{% endblock %}
